.app-title{
    text-align: center;
}
.app-container{
    display: flex;
    justify-content: space-around;
}
.link-generation-card{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.user-input{
   display: block;
   width: 250px; 
   margin-bottom: 20px;
   font-size: 20px ;
   padding: 5px 10px;
}
.btn-generate-link{
    display: block;
    background-color: black;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    cursor: pointer;
}
.input-short-url{
    width: 230px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px 10px;
}
.short-url-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copy-icon{
    cursor: pointer;
}